@import "var.sass"

div.lp
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    text-align: center
    background-image: url(SAO.jpg)
    background-size: cover
    background-position: center
    margin-bottom: 3%

.link
    text-decoration: none
    margin-top: 18%
    font-size: 25
    color: $blue

h1,h3.flash
    color: $blue

h1
    font-size: 50

h3
    font-size: 25

body h1
    margin-top: 100px

body
    background-color: $blue2
    margin: 0
    padding: 0

hl
    font-size: 22
    line-height: 1.5
    font-weight: 600

p
    width: 70%
    margin: 0 auto 20px
    font-size: 18px
    background: $blue1
    border-radius: 5px
    text-align: center
    margin-bottom: 40px
