@import "var.sass"

div.lp
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    text-align: center
    background-image: url(SAO.jpg)
    background-size: cover
    background-position: center
    margin-bottom: 3%
    z-index: 2

p.lptext
    position: absolute
    top: 60%
    border-radius: 50px
    background-color: black
    align-content: center
    z-index: 1
    font-size: 600%
    width: 384px
    color: silver

abc
    font-size: 50%

body
    background-color: black
    margin: 0
    padding: 0

p
    width: 70%
    margin: 0 auto 20px
    font-size: 18px
    background: grey
    border-radius: 5px
    text-align: center
    margin-bottom: 40px
