div.lp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url(SAO.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 3%;
    z-index: 3;
}

div.getstarted {
    position: absolute;
    margin-top: 60vh;
    margin-left: 5%;
    z-index: 10;
    color: red;
    font-size: 60px;
    border-radius: 5px;
    border-color: black;
}

e.lptext {
    position: absolute;
    bottom: 3%;
    border-radius: 20px;
    align-content: center;
    z-index: 1;
    font-size: 600%;
    width: 384px;
    color: silver;
    border: solid black 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

abc {
    font-size: 50%;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 300%;
    color: #d4af37;
    background: gray;
    border-radius: 5px;
    text-align: center;
    margin-bottom: -5px;
    width: 60%;
    margin-left: 20%;
}

h2 {
    font-size: 250%;
    color: #d4af37;
    background: grey;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    width: 60%;
    margin-left: 20%;
}

h3 {
    font-size: 200%;
    background: grey;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    width: 60%;
    margin-left: 20%;
}

p {
    width: 70%;
    margin: 0 auto 20px;
    font-size: 20px;
    background: grey;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 40px;
    color: #d4af37;
}
